<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layouts/default}"
	  th:with="metaTitle='설정정보'">
<head>
</head>

<body>
<!-- content -->
<th:block layout:fragment="content">
	<div class="conts">
		<!-- pagetle -->
		<div class="pagetle">설정 히스토리</div>
		<!--// pagetle -->
		<div id="appConfigHistoryWrap">
			<form class="search">
				<div class="search_box">
					<th:block th:replace="view/component/searchItem :: searchValue(placeholder='설정명')"></th:block>
					<th:block th:replace="view/component/searchItem :: searchDate(searchDateType='createAt')"></th:block>
					<th:block th:replace="view/component/searchItem :: configType"></th:block>
				</div>
				<th:block th:replace="view/component/searchItem :: searchButton"></th:block>
			</form>
			<div class="tblutils">
				<th:block th:replace="view/component/tableWrap :: tableInfo"></th:block>
			</div>
			<!-- search //-->

			<th:block th:replace="view/component/tableWrap :: table(tableId='appConfigHistoryTable')"></th:block>
			<th:block th:replace="view/component/tableWrap :: paging"></th:block>
		</div>
	</div>
</th:block>
<!-- //content -->

<!-- script -->
<th:block layout:fragment="custom_js">
	<script th:src="@{/static/assets/module/list-view.js}"></script>
	<script th:inline="javascript">
		$(document).ready(function() {
			class AppConfigHistoryListView extends CommonListView {
				constructor(data) {
					super(data);
				}

				get headerInfo() {
					const self = this;
					return [
						{ key: 'no', name: 'No.', width: '5%'},
						{ key: 'configName', name: '설정명', width: '15%', isSorting: true, customClass: 'text_ellipsis', align: 'left'
							, createdCell: function(value, data) {
								return `<a href="${self.baseUrl}/${data.configHistorySeq}">${value}</a>`;
							}
						},
						{ key: 'value', name: '내용', isSorting: true, customClass: 'text_ellipsis', align: 'left'
							, createdCell: function(value, data) {
								let _data = '';
								if (data.configType == 'AGREE_USAGE') {
									_data = decodeURIComponent(atob(value));
								} else {
									_data = value;
								}

								const newText = _data.replace(/(<([^>]+)>)/ig, "");
								return newText;
							}
						},
						{ key: 'configType', name: '타입', width: '15%', isSorting: true
							, createdCell: function(value) {
								/*<![CDATA[*/
								/*[# th:each="tmp : ${T(com.stockmore.admin.common.constants.CommonCode$CONFIG_TYPE).values()}"]*/
								if((/*[[${tmp}]]*/ '') === value) {
									return  /*[[${tmp.getDesc()}]]*/ '';
								}
								/*[/]*/
								/*]]*/
							}
						},
						{ key: 'createAt', name: '생성일', width: '9%', isSorting: true, initSortClass: 'sorting_desc'
							, createdCell: function(value) {
								return new Date(value).format('yyyy-MM-dd');
							}
						},
					]
				}
			}

			const listView = new AppConfigHistoryListView({
				baseUrl : '/config/config-history'
				, wrapId : 'appConfigHistoryWrap'
				, pagingId : 'pagingWrap'
				, tableId : 'appConfigHistoryTable'
			})

			listView.init();
		});
	</script>
</th:block>
<!-- //script -->
</body>
</html>

