<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="include">
		<script th:src="@{/static/assets/opensrc/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/static/assets/opensrc/jquery-ui.min.js}"></script>
		<script th:src="@{/static/assets/ope`nsrc/ckeditor/ckeditor.js}"></script>
`
		<script th:src="@{/static/assets/js/constants.js}"></script>
		<script th:src="@{/static/assets/js/common.js}"></script>
		<script th:src="@{/static/assets/js/ui.js}"></script>
    </th:block>
</html>