<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default}"
	  th:with="metaTitle='주식정보'">
<head>
</head>

<body>
<!-- content -->
<th:block layout:fragment="content">
	<div class="conts">
		<!-- pagetle -->
		<div class="pagetle">실시간 추천</div>
		<!--// pagetle -->
		<div>
			<!-- search -->
			<form id="searchForm" class="search">
				<div class="search_box">
					<div class="single">
						<label for="searchValue" class="search_tit">검색</label>
						<input type="text" id="searchValue" name="searchValue" placeholder="종목명">
					</div>
					<div class="single">
						<span class="search_tit">기간</span>
						<select id="searchDateType" name="searchDateType">
							<option value="buyAt">매수일</option>
							<option value="sellAt">매도일</option>
							<option value="updateAt">수정일</option>
						</select>
						<input type="text" id="startDate" name="startDate" class="datepicker" autocomplete="off" title="검색 시작일"> ~
						<input type="text" id="endDate" name="endDate" class="datepicker" autocomplete="off" title="검색 종료일">
						<select id="searchMonth" name="searchMonth">
							<option value="">전체</option>
							<option value="3">최근3개월</option>
							<option value="6">최근6개월</option>
							<option value="12">최근12개월</option>
						</select>
					</div>
					<div>
						<span class="search_tit">매매여부</span>
						<select id="searchUseFlag" name="useFlag">
							<option value="">전체</option>
							<option th:each="sellYn : ${T(com.stockmore.admin.common.constants.CommonCode$SellYN).values()}"
									th:value="${sellYn}" th:text="${sellYn.getDesc()}"></option>
						</select>
					</div>
				</div>
				<div class="btn_area">
					<a href="javascript:" id="searchButton" class="btns_default btn_submit">검색</a>
				</div>
			</form>
			<!-- search //-->

			<div class="tblutils">
				<p class="cnt">총 <strong id="totalCount"></strong>건 / 검색결과 <strong id="searchCount"></strong>건</p>
				<a href="javascript:" id="addButton" class="btns_default btn_submit">신규등록</a>
			</div>

			<table id="stockListTable" class="tblist">
			</table>
			<div id="pagingWrap" class="paging" role="navigation" aria-label="페이지 선택">
			</div>
		</div>
	</div>
</th:block>
<!-- //content -->

<!-- script -->
<th:block layout:fragment="custom_js">
	<script th:inline="javascript" >
		$(document).ready(function() {
			let page = 0;
			let pageSize = 10;

			const $searchForm = $('#searchForm');
			const $searchValueInput = $('#searchValue');
			const $searchButton = $('#searchButton');
			const $addButton = $('#addButton');
			const $startDate = $('#startDate');
			const $endDate = $('#endDate');
			const $searchMonth = $('#searchMonth');
			const $totalCount = $('#totalCount');
			const $searchCount = $('#searchCount');
			const pagingId = 'pagingWrap';
			const pathname = location.pathname;

			const tableId = 'stockListTable';
			const listAjaxUrl = '/stock/recommend-stock-list';

			function init() {
				initData();
				event();
			}

			function initData() {
				common.ui.datepicker.initFromTo($startDate, $endDate, $searchMonth);

				//Table init
				common.ui.table.init(tableId, {
					columns: getHeaderInfo(),
					isSelectItem: false,
					isSorting: true,
					onClick: function(e, rowData, cellData) {
						console.log(rowData, cellData);
					},
					onHeaderClick: function(e, key, sorting) {
						search();
					}
				});

				initDom();
				search(page);
			}

			function initDom() {
				const history = common.navi.getHistory(pathname);
				if(history === null) {
					return;
				}

				Object.keys(history).forEach(key => {
					const value = history[key];
					if(!value === false) {
						console.log(key, value);
						if(key == 'page') {
							page = value;
						} else if(key == 'limit') {
							pageSize = value
						} else {
							$searchForm.find('[name="'+ key +'"]').val(value);
						}
					}
				})
			}

			function event() {
				$searchButton.on('click', function() {
					search();
				});

				$addButton.on('click', function() {
					common.navi.open('/stock/recommend-stock/new');
				});

				$searchValueInput.keypress(function (e) {
					if (e.which == 13){
						$searchButton.trigger('click');
					}
				});
			}

			function search(pageNumber) {
				page = pageNumber || 0;
				const params = {
					page : page,
					limit : pageSize
				}

				const searchObj = $searchForm.serializeObject();
				$.extend(params, searchObj);

				const sorting = common.ui.table.getHeaderSorting(tableId);
				if(!sorting === false) {
					params.order = sorting;
				}

				common.navi.setHistory(pathname, params);
				common.ajax.get(listAjaxUrl, params, function(response) {
					console.log(response);
					if(response.result.code === API_RESPONSE_CDOE.SUCCESS.code) {
						const searchData = response.data || {};
						common.ui.table.setData(tableId, searchData.data);
						setPaging(searchData);
					} else {
						common.modal.error(response);
					}
				})
			}

			function setPaging(searchData) {
				$totalCount.html(searchData.totalCount);
				$searchCount.html(searchData.filterTotalCount);

				common.ui.paging.init(pagingId, {
					page: page,
					totalCount: searchData.filterTotalCount,
					onMovePageNumber: function(number) {
						search(number - 1);
					}
				});
			}

			function getHeaderInfo() {
				return [
					{ key: 'no', name: 'No.', width: '5%'},
					{ key: 'stockName', name: '종목명', isSorting: true, align:'left'
						, createdCell: function(value, data) {
							console.log(value, data);
							return '<a href="/stock/recommend-stock/'+ data.recommendStockSeq +'">'+ value +'</a>';
						}
					},
					{ key: 'recommendReason', name: '추천이유', isSorting: true, align:'left'},
					{ key: 'recommendPrice', name: '추천가', width: '9%', isSorting: true},
					{ key: 'sellPrice', name: '매도가', width: '9%', isSorting: true},
					{ key: 'buyAt', name: '매수일', width: '9%', isSorting: true
						, createdCell: function(value) {
							return new Date(value).format('yyyy-MM-dd');
						}
					},
					{ key: 'sellAt', name: '매도일', width: '9%', isSorting: true
						, createdCell: function(value) {
							return new Date(value).format('yyyy-MM-dd');
						}
					},
					{ key: 'sellFlag', name: '매매여부', width: '9%', isSorting: true
						, createdCell: function(value) {
							const valueList = [];
							const descList = [];
							/*<![CDATA[*/
							/*[# th:each="tmp : ${T(com.stockmore.admin.common.constants.CommonCode$SellYN).values()}"]*/
							valueList.push(/*[[${tmp}]]*/ '');
							descList.push(/*[[${tmp.getDesc()}]]*/ '');
							/*[/]*/

							const index = valueList.indexOf(value);
							return descList[index];
							/*]]*/
						}
					},
					{ key: 'updateAt', name: '수정일', width: '9%', isSorting: true, initSortClass: 'sorting_desc'
						, createdCell: function(value) {
							return new Date(value).format('yyyy-MM-dd');
						}
					},
				]
			}

			init();
		});
	</script>
</th:block>
<!-- //script -->
</body>
</html>

