<!--
=========================================================
* Material Dashboard 2 PRO - v3.0.6
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-dashboard-pro
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/img/Company.png">
    <title>
        Smartfactory_Team-2-Kang-in
    </title>


    <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro" />

    <meta name="keywords" content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap 5 dashboard, bootstrap 5, css3 dashboard, bootstrap 5 admin, material dashboard bootstrap 5 dashboard, frontend, responsive bootstrap 5 dashboard, material design, material dashboard bootstrap 5 dashboard">
    <meta name="description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">

    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Material Dashboard PRO by Creative Tim">
    <meta name="twitter:description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_bs5_thumbnail.jpg">

    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="Material Dashboard PRO by Creative Tim" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demos.creative-tim.com/material-dashboard-pro/pages/dashboards/default.html" />
    <meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_bs5_thumbnail.jpg" />
    <meta property="og:description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you." />
    <meta property="og:site_name" content="Creative Tim" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/static/css/nucleo-svg.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <link id="pagestyle" href="/static/css/material-dashboard.min.css?v=3.0.6" rel="stylesheet" />

    <style>
        .async-hide {
            opacity: 0 !important
        }

        header.content {
            background-image: url('https://avatars.mds.yandex.net/i?id=5d1a18e6f57499f41f7524a09e33af5473f338ec-10640163-images-thumbs&n=13');
            background-size: cover;
            background-position: center;
            color: #fff;
            text-align: center;
            padding: 100px 20px; /* padding을 좌우로 20px로 수정 */
        }

        .content3 {
            text-align: center;
            margin-left: 280px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            border: 1px solid black; /* Add border for better separation */
        }

        .content3img {
            display: flex;
            flex-direction: column; /* Stack items vertically */
        }

        .image-container {
            width: 100%; /* Each image takes 100% of the container */
            margin-bottom: 20px; /* Add margin between images */
        }

        .image-container img {
            max-width: 50%; /* Make sure the image doesn't exceed its container */
            height: auto;
        }

        .text-container3 {
            width: 100%; /* Adjust the width of the text container as needed */
            text-align: left;
        }


        .cont_tit {
            font-size: 3em; /* 변경된 부분: 원하는 크기로 설정 */
            margin-top: 30px; /* 변경된 부분: 상단 여백 추가 */
            border-bottom: 2px solid #000;
        }

        .cont_tit2 {
            font-size: 3em; /* 변경된 부분: 원하는 크기로 설정 */
            margin-top: 30px; /* 변경된 부분: 상단 여백 추가 */
            text-align: center;
        }

        body {
            margin-left: 300px; /* 왼쪽 메뉴바와 겹치지 않고 출력 */
        }

        .sidenav {
            width: 300px; /* 왼쪽 메뉴바와 겹치지 않고 출력 */
        }

        header.content h1 {
            color: #fff; /* Set text color to white */
        }

        h1 {
            font-size: 2.5em;
            margin: 0;
            float: left; /* 오른쪽으로 띄우기 */
            color: white;
        }

        .content {
            padding: 20px;
            text-align: center;
            margin-left: 280px;
        }

        .content2 {
            padding: 20px;
            text-align: left;
            margin-left: 270px; /* 원하는 만큼의 왼쪽 마진 추가 */
        }

        .video2 {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .business-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 20px; /* Adjust margin as needed */
        }

        .business-part {
            flex: 0 0 calc(33.33% - 20px); /* Adjust width and margin as needed */
            margin: 0 10px 20px 10px; /* Adjust margin as needed */
            text-align: center;
            border: 1px solid #ddd; /* Add border for better separation */
            padding: 10px; /* Add padding for better spacing */
        }

        .business-part img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
        }

    </style>
    <script>
        (function(a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y;
            h.start = 1 * new Date;
            h.end = i = function() {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };
            (a[n] = a[n] || []).hide = h;
            setTimeout(function() {
                i();
                h.end = null
            }, c);
            h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {
            'GTM-K9BGS8K': true
        });
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-46172202-22', 'auto', {
            allowLinker: true
        });
        ga('set', 'anonymizeIp', true);
        ga('require', 'GTM-K9BGS8K');
        ga('require', 'displayfeatures');
        ga('require', 'linker');
        ga('linker:autoLink', ["2checkout.com", "avangate.com"]);
    </script>


    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
    </script>

    <script defer data-site="demos.creative-tim.com" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

    <!-- Additional files -->
    <!--[if lt IE 10]><script type="text/javascript" src="/assets/js/dev/html5.min.js"></script><![endif]-->
    <link href="https://aeroreport.de/assets/css/main.min.css?1700046625" rel="stylesheet">

</head>

<br>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
        <a class="navbar-brand m-0">
            <img src="/static/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold text-white">Menu Bar</span>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item mb-2 mt-0">
                <a href="/SF/main" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Main.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">메인</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:if="${session.user ne null}">
                <a href="#" th:href="@{/logout}" class="nav-link text-white" aria-controls="LogoutNav" role="button" aria-expanded="false">
                    <img src="/static/img/Login.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">로그아웃</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:unless="${session.user ne null}">
                <a href="/SF/login" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Login.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">로그인</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:unless="${session.user ne null}">
                <a href="/SF/signup" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Signup.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">회원가입</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/SF/detail" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Detail.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">상품 소개</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/SF/order" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Order.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">주문</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/SF/statistics" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Statistics.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">판매량 통계 및 분석</span>
                </a>
            </li>

            <li class="nav-item mb-2 mt-0">
                <a href="/SF/orderstatus" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/OrderStatus.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">주문 현황</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/SF/inventory" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Inventory.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">재고 관리</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<div class="container-fluid pt-4 px-sm-0">

<!--    <div class="content">-->
<!--        <div class="container index">-->
<!--            <h4 class="cont_tit">Product introduction</h4>-->
<!--        </div>-->
<!--    </div>-->

    <div class="content2">
        <h4 class="cont_tit2">How does a turbofan engine work?</h4>
    </div>

    <div class="content">
        <video autoplay muted loop class="video2">
            <source src="/static/img/제품 설명 동영상.mp4" type="video/mp4">
        </video>
    </div>

    <div class="content">
        <div class="container index">
            <div class="business-container">
                <!-- Updated business parts with images and descriptions -->
                <div class="business-part">
                    <img src="/static/img/엔진설명1.png" alt="Image 1" width="400">
                    <p class="cont_subtit">
                    <h4>흡입구를 통한 공기 흡입</h4>
                    </p>
                </div>
                <div class="business-part">
                    <img src="/static/img/엔진설명2.png" alt="Image 2" width="400">
                    <p class="cont_subtit">
                    <h4>흡입한 공기를 압축시키는 압축기</h4>
                    </p>
                </div>
                <div class="business-part">
                    <img src="/static/img/엔진설명3.png" alt="Image 3" width="400">
                    <p class="cont_subtit">
                    <h4>흡입한 공기를 연소시키는 연소실</h4>
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container index">
            <div class="business-container">
                <!-- Updated business parts with images and descriptions -->
                <div class="business-part">
                    <img src="/static/img/엔진설명4.png" alt="Image 1" width="400">
                    <p class="cont_subtit">
                    <h4>폭발된 공기의 힘으로 터빈 작동</h4>
                    </p>
                </div>
                <div class="business-part">
                    <img src="/static/img/엔진설명5.png" alt="Image 2" width="400">
                    <p class="cont_subtit">
                    <h4>연소된 공기가 빠져나가는 배기구</h4>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content2">
        <h4 class="cont_tit2">What products do we sell?</h4>
    <br>
    <br>
    <!--<div class="row">-->
    <article
            class="article"
            id="wiefunktionierteinturbofantriebwerkaufbaueinestriebwerks"
            itemscope
            itemtype="http://schema.org/Article"
    ></article>

    <section class="article-image-hover bgcolorgrey">
        <div class="row me-10">
            <div class="small-12 medium-12 large-12 columns">
                <div class="article-image-hover-container">
                    <video class="article-image-hover-video" autoplay muted loop playsinline data-piwik-title="" title="" src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/185b147e25-1627476449/triebwerk_animation.mp4" type="video/mp4"></video>
                    <div class="marker" data-overlay="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/788a64299b-1628080873/gtf_fan_rotor.svg" style="left:12%; top:0%; width:16%; height:100%;">
                        <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/788a64299b-1628080873/gtf_fan_rotor.svg" class="hidden" width="230" height="150">
                        <h5 class=" detailtext-headline hidden" style="left:16rem">Fan Rotor</h5>
                        <div class=" detailtext hidden" style="left:16rem">        <h4>전력 및 속도 제어의 유연성</h4>
                            기어박스는 여러 개의 기어를 포함하고 있어, 동일한 회전 속도에서도 다양한 토크(힘) 및 속도 전달이 가능합니다.
                            <br>
                            <br>
                            <br>
                            <h4>효율성 및 연료 경제성 향상</h4>
                            기어박스를 통해 엔진의 회전 운동을 효과적으로 변속할 수 있기 때문에, 다양한 속도 및 부하 상황에 최적화된 엔진 성능을 유지할 수 있습니다.
                            <br>
                            <br>
                            <br>
                            <h4>장비 및 시스템 보호</h4>
                            기어박스는 특히 고출력 엔진이나 회전 운동이 많이 필요한 어플리케이션에서 사용되며, 이는 장비와 시스템을 과도한 은하, 충격, 또는 부하로부터 보호할 수 있습니다.
                            <br><br>                                      <span class="detailimage-grey hidden" >
                      <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/5c7e5c93c7-1628079399/fan-rotor_1.png" width="800" height="450"></span>
                        </div>
                    </div>
                    <div class="marker" data-overlay="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/946af1f5ce-1628080873/gtf_gearbox.svg" style="left:28%; top:0%; width:6%; height:100%;">
                        <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/946af1f5ce-1628080873/gtf_gearbox.svg" class="hidden" width="230" height="150">
                        <h5 class=" detailtext-headline hidden" style="left:8rem">Gear Box</h5>
                        <div class=" detailtext hidden" style="left:8rem">        <h4>전력 및 속도 제어의 유연성</h4>
                            기어박스는 여러 개의 기어를 포함하고 있어, 동일한 회전 속도에서도 다양한 토크(힘) 및 속도 전달이 가능합니다.
                            <br>
                            <br>
                            <br>
                            <h4>효율성 및 연료 경제성 향상</h4>
                            기어박스를 통해 엔진의 회전 운동을 효과적으로 변속할 수 있기 때문에, 다양한 속도 및 부하 상황에 최적화된 엔진 성능을 유지할 수 있습니다.
                            <br>
                            <br>
                            <br>
                            <h4>장비 및 시스템 보호</h4>
                            기어박스는 특히 고출력 엔진이나 회전 운동이 많이 필요한 어플리케이션에서 사용되며, 이는 장비와 시스템을 과도한 은하, 충격, 또는 부하로부터 보호할 수 있습니다.
                            <br><br>                                      <span class="detailimage-grey hidden" >
                      <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/86d659d2ce-1629377820/getriebe_1.png" width="800" height="450"></span>
                        </div>
                    </div>
                    <div class="marker" data-overlay="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/0ac350f9b5-1628080873/gtf_high-pressure_compressor.svg" style="left:46%; top:0%; width:15%; height:100%;">
                        <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/0ac350f9b5-1628080873/gtf_high-pressure_compressor.svg" class="hidden" width="230" height="150">
                        <h5 class=" detailtext-headline hidden" style="left:-24rem">High-Pressure Compressor</h5>
                        <div class=" detailtext hidden" style="left:-24rem">        <h4>효율적인 공기 압축</h4>
                            고압 컴프레서는 대기 중의 공기를 고압으로 압축하는 역할을 합니다. 이는 엔진 내 연소를 위해 필요한 공기의 압력을 유지하고, 연소 효율성을 향상시킵니다.
                            <br>
                            <br>
                            <br>
                            <h4>발전기 효율 향상</h4>
                            고압 컴프레서는 발전기의 성능에 직접적인 영향을 미칩니다. 더 높은 공기 압력은 연소 공기의 밀도를 증가시키며, 이는 연소 프로세스에서 더 많은 연료를 효과적으로 연소하게 만듭니다.
                            <br>
                            <br>
                            <br>
                            <h4>항공기 성능 향상</h4>
                            특히 항공기에서는 고압 컴프레서가 비행 성능에 중요한 역할을 합니다. 높은 압축 비율과 효율적인 공기 압축은 항공기의 엔진에서 높은 추력 및 연료 효율성을 제공합니다.
                            <br><br>                                      <span class="detailimage-grey hidden" style='left: -15rem'>
                      <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/ae11b9c5a3-1628079435/hdv_1.png" width="800" height="450"></span>
                        </div>
                    </div>
                    <img class="article-image-hover-image" src="/static/img/gtf_overview_en.svg" alt="gtf_overview_en">
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://aeroreport.de/assets/js/main.js?1700046625"></script>
<script src="https://aeroreport.de/ar-prototype/dist/bundle.js?1700046625"></script>

<div class="content mt-5">
    <div class="container index">
        <h4 class="cont_tit">Fan Rotor</h4>
    </div>
</div>

<div class="content3">
    <div class="content3img">
        <div class="image-container">
            <img src="/static/img/광고1.png" alt="Image1">
        </div>
        <div class="image-container">
            <img src="/static/img/Fan_rotor_Detail.png" alt="Image2">
        </div>
    </div>
    <div class="text-container3">
        <h4>복합적인 드론 및 항공기 설계 가능성</h4>
        Fan Rotor는 전통적인 헬리콥터와 고정익 비행기의 장점을 결합하여 복합적인 드론 및 항공기를 설계할 수 있는 기술입니다.
        <br>
        <br>
        <br>
        <h4>에너지 효율성 향상</h4>
        Fan Rotor는 헬리콥터와 유사한 수직 이착륙 및 이륙 기능을 제공하면서도, 회전 날개에 의한 추진력을 활용하여 에너지 효율성을 향상시킵니다.
        <br>
        <br>
        <br>
        <h4>소음 감소 및 안전성 향상</h4>
        Fan Rotor는 회전하는 날개가 고정익 비행기처럼 전방으로 이동하지 않고 헬리콥터처럼 수직 이동하므로 소음이 상대적으로 낮습니다.
    </div>
</div>
<div class="content mt-5">
    <div class="container index">
        <h4 class="cont_tit">Gear Box</h4>
    </div>
</div>
<br>
<div class="content3">
    <div class="content3img">
        <div class="image-container">
            <img src="/static/img/광고3.png" alt="Image1">
        </div>
        <br>
        <div class="image-container">
            <img src="/static/img/Gearbox_Detail.png" alt="Image2">
        </div>
    </div>
    <div class="text-container3">
        <h4>전력 및 속도 제어의 유연성</h4>
        기어박스는 여러 개의 기어를 포함하고 있어, 동일한 회전 속도에서도 다양한 토크(힘) 및 속도 전달이 가능합니다.
        <br>
        <br>
        <br>
        <h4>효율성 및 연료 경제성 향상</h4>
        기어박스를 통해 엔진의 회전 운동을 효과적으로 변속할 수 있기 때문에, 다양한 속도 및 부하 상황에 최적화된 엔진 성능을 유지할 수 있습니다.
        <br>
        <br>
        <br>
        <h4>장비 및 시스템 보호</h4>
        기어박스는 특히 고출력 엔진이나 회전 운동이 많이 필요한 어플리케이션에서 사용되며, 이는 장비와 시스템을 과도한 은하, 충격, 또는 부하로부터 보호할 수 있습니다.
    </div>
</div>
<br>
<div class="content mt-5">
    <div class="container index">
        <h4 class="cont_tit">High-Pressure Compressor</h4>
    </div>
</div>
<br>
<div class="content3">
    <div class="content3img">
        <div class="image-container">
            <img src="/static/img/광고2.png" alt="Image1">
        </div>
        <br>
        <div class="image-container">
            <img src="/static/img/High-Pressure_Compressor_Detail.png" alt="Image2">
        </div>
    </div>
    <div class="text-container3">
        <h4>효율적인 공기 압축</h4>
        고압 컴프레서는 대기 중의 공기를 고압으로 압축하는 역할을 합니다. 이는 엔진 내 연소를 위해 필요한 공기의 압력을 유지하고, 연소 효율성을 향상시킵니다.
        <br>
        <br>
        <br>
        <h4>발전기 효율 향상</h4>
        고압 컴프레서는 발전기의 성능에 직접적인 영향을 미칩니다. 더 높은 공기 압력은 연소 공기의 밀도를 증가시키며, 이는 연소 프로세스에서 더 많은 연료를 효과적으로 연소하게 만듭니다.
        <br>
        <br>
        <br>
        <h4>항공기 성능 향상</h4>
        특히 항공기에서는 고압 컴프레서가 비행 성능에 중요한 역할을 합니다. 높은 압축 비율과 효율적인 공기 압축은 항공기의 엔진에서 높은 추력 및 연료 효율성을 제공합니다.
    </div>
    </div>
</div>


</body>
</html>