<!--
=========================================================
* Material Dashboard 2 PRO - v3.0.6
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-dashboard-pro
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/img/Company.png">
    <title>
        Smartfactory_Team-2-Kang-in
    </title>


    <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro" />

    <meta name="keywords" content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap 5 dashboard, bootstrap 5, css3 dashboard, bootstrap 5 admin, material dashboard bootstrap 5 dashboard, frontend, responsive bootstrap 5 dashboard, material design, material dashboard bootstrap 5 dashboard">
    <meta name="description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">

    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Material Dashboard PRO by Creative Tim">
    <meta name="twitter:description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_bs5_thumbnail.jpg">

    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="Material Dashboard PRO by Creative Tim" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demos.creative-tim.com/material-dashboard-pro/pages/dashboards/default.html" />
    <meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_bs5_thumbnail.jpg" />
    <meta property="og:description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you." />
    <meta property="og:site_name" content="Creative Tim" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/static/css/nucleo-svg.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>
    <script src="/static/opensrc/jquery-3.6.0.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <link id="pagestyle" href="/static/css/material-dashboard.min.css?v=3.0.6" rel="stylesheet" />

    <style>
        .async-hide {
            opacity: 0 !important
        }

        body {
            margin-left: 300px; /* 왼쪽 메뉴바와 겹치지 않고 출력 */
        }

        .sidenav {
            width: 300px; /* 왼쪽 메뉴바와 겹치지 않고 출력 */
        }

        h1 {
            margin-top: 20px;    /* h1 텍스트의 위 아래 조정 */
        }
    </style>
    <script>
        (function(a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y;
            h.start = 1 * new Date;
            h.end = i = function() {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };
            (a[n] = a[n] || []).hide = h;
            setTimeout(function() {
                i();
                h.end = null
            }, c);
            h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {
            'GTM-K9BGS8K': true
        });
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-46172202-22', 'auto', {
            allowLinker: true
        });
        ga('set', 'anonymizeIp', true);
        ga('require', 'GTM-K9BGS8K');
        ga('require', 'displayfeatures');
        ga('require', 'linker');
        ga('linker:autoLink', ["2checkout.com", "avangate.com"]);
    </script>


    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
    </script>

    <script defer data-site="demos.creative-tim.com" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            var table = $('#datatable-search').DataTable({
                paging: true,
                searching: true
            });

            $('.dataTable-selector').change(function () {
                table.page.len($(this).val()).draw();
            });

            $('.dataTable-input').on('keyup', function () {
                table.search(this.value).draw();
            });
            var customElement = '<div class="custom-element">Custom Element</div>';
            $('.dataTable-top').append(customElement);

        });
        // 필터 클릭 시 동작할 함수
        function applyFilter(status) {
            // DataTable 객체 가져오기
            var table = $('#datatable-search').DataTable();

            // 특정 열의 데이터에 따라 필터링
            table.column(2).search(status).draw();
        }

        // 필터 클릭 이벤트 핸들러 등록
        $('.dropdown-menu a.dropdown-item').on('click', function () {
            var status = $(this).text().split(': ')[1]; // 클릭된 요소의 텍스트에서 "Status: "를 제외한 부분 추출
            applyFilter(status);
        });

        // "Remove Filter" 클릭 시 모든 필터 제거
        $('.dropdown-menu .text-danger').on('click', function () {
            // DataTable 객체 가져오기
            var table = $('#datatable-search').DataTable();

            // 검색 기능 초기화
            table.search('').draw();
        });
    </script>


</head>


<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
        <a class="navbar-brand m-0">
            <img src="/static/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold text-white">Menu Bar</span>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item mb-2 mt-0">
                <a href="/SF/main" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Main.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">메인</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:if="${session ne null}">
                <a href="#" th:href="@{/logout}" class="nav-link text-white" aria-controls="LogoutNav" role="button" aria-expanded="false">
                    <img src="/static/img/Login.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">로그아웃</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:unless="${session ne null}">
                <a href="/SF/login" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Login.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">로그인</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:unless="${session ne null}">
                <a href="/SF/signup" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Signup.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">회원가입</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/SF/detail" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Detail.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">상품 소개</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/SF/order" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Order.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">주문</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a href="/SF/statistics" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Statistics.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">판매량 통계 및 분석</span>
                </a>
            </li>

            <li class="nav-item mb-2 mt-0" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a href="/SF/orderstatus" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/OrderStatus.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">주문 현황</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <a href="/SF/inventory" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Inventory.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">재고 관리</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<body class="g-sidenav-show bg-gray-200">
<!----여기서부터 중간--->
<div class="container-fluid py-4">
    <div class="d-sm-flex justify-content-between">
        <div class="d-flex">
            <div class="dropdown d-inline">
                <a href="javascript:;" class="btn btn-outline-dark dropdown-toggle " data-bs-toggle="dropdown" id="navbarDropdownMenuLink2">
                    Filters
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-start px-2 py-3" aria-labelledby="navbarDropdownMenuLink2" data-popper-placement="left-start">
                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Status: 수주</a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Status: 납품</a></li>
                    <li><a class="dropdown-item border-radius-md" href="javascript:;">Status: 제조중</a></li>
                    <li>
                        <hr class="horizontal dark my-2">
                    </li>
                    <li><a class="dropdown-item border-radius-md text-danger" href="javascript:;">Remove Filter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">주문 현황</h5>
                    <p class="text-sm mb-0">
                        <br/>
                        대한민국 JET ENGINE의 미래, 2-Gang-in이 만들어 갑니다.
                    </p>
                </div>
                <div class="table-responsive">
                    <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

                        </div>
                        <div class="dataTable-container">
                            <table class="table table-flush dataTable-table" id="datatable-search">
                                <thead class="thead-light">
                                <tr>
                                    <th data-sortable="" style="width: 17.0324%;"><a href="#" class="dataTable-sorter">Id</a></th>
                                    <th data-sortable="" style="width: 15.883%;"><a href="#" class="dataTable-sorter">날짜</a></th>
                                    <th data-sortable="" style="width: 15.465%;"><a href="#" class="dataTable-sorter">제품상태</a></th>
                                    <th data-sortable="" style="width: 19.3312%;"><a href="#" class="dataTable-sorter">주문자</a></th>
                                    <th data-sortable="" style="width: 21.2121%;"><a href="#" class="dataTable-sorter">제품</a></th>
                                    <th data-sortable="" style="width: 11.0763%;"><a href="#" class="dataTable-sorter"> </a></th></tr>
                                </thead>

                                <tbody>
                                <tr th:each="order : ${orderStatusList}">
                                    <td th:text="${order.productOrderSeq}"></td>
                                    <td th:text="${#calendars.format(order.orderDate, 'MM월 dd일  HH시 mm분')}"></td>
                                    <td>
                                        <!-- 제품 상태에 따라 이미지 아이콘 로드 -->
                                        <img th:if="${order.productStatus == '수주'}" src="/static/img/노랑.png" style="width: 20px; height: 20px;">
                                        <img th:if="${order.productStatus == '납품'}" src="/static/img/초록.png" style="width: 20px; height: 20px;">
                                        <img th:if="${order.productStatus == '제조중'}" src="/static/img/빨강.png" style="width: 20px; height: 20px;">

                                        <span th:text="${order.productStatus}"></span> <!-- 제품 상태 텍스트 -->
                                    </td>
                                    <td>
                                        <!-- 주문자 이름 앞에 이미지 아이콘 로드 -->
                                        <img src="/static/img/User.png" style="width: 20px; height: 20px; vertical-align: middle;">
                                        <span th:text="${order.userName}"></span> <!-- 주문자 이름 -->
                                    </td>

                                    <td class="text-xs font-weight-normal">
                                        <!--                           <span class="my-2 text-xs">Nike Sport V2</span>     -->
                                        <button class="accordion-button border-bottom font-weight-bold collapsed"
                                                type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapseOne' + ${order.productOrderSeq}"
                                                aria-expanded="false" th:aria-controls="'collapseOne' + ${order.productOrderSeq}"
                                                onclick="parseDetailTableData(this)">
                                            상세보기
                                            <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3"
                                               aria-hidden="true"></i>
                                        </button>

                                        <div th:id="'collapseOne' + ${order.productOrderSeq}" class="accordion-collapse collapse"
                                             aria-labelledby="'headingOne' + ${order.productOrderSeq}" data-bs-parent="#accordionRental">
                                            <div class="accordion-body text-sm opacity-8">

                                                <table class="table receipt-table text-right">
                                                    <!-- 영수증 테이블 내용 -->
                                                    <thead>
                                                    <tr>
                                                        <th scope="col" class="pe-2 text-start ps-2">구입 물품</th>
                                                        <th scope="col" class="pe-2">수량</th>
                                                        <th scope="col" class="pe-2">지역</th>
                                                        <th scope="col" class="pe-2">가격</th>
                                                        <th scope="col" class="pe-2">합계</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <!-- 상세 정보를 Thymeleaf 반복문을 사용하여 표시 -->
                                                    <tr th:each="detail : ${orderDetailStatusList}" th:if="${detail.productOrderSeq eq order.productOrderSeq}">
                                                        <td th:text="${detail.materialName}"></td>
                                                        <td th:text="${detail.count}"></td>
                                                        <td th:text="${detail.region}"></td>
                                                        <td th:text="${detail.materialPrice}"></td>
                                                        <td th:text="${detail.materialTotalPrice}"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-xs font-weight-normal">
                                        <!--                            <span class="my-2 text-xs">$140,20</span>              -->



                                        <button class="btn btn-icon btn-2 btn-primary" type="button" onclick="sendProductionRequest(this)">
                                            <span class="btn-inner--icon"><i class="lmateria-icons">생산</i></span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>

    function parseDetailTableData(button) {
        // 현재 클릭된 버튼이 속한 행을 찾기
        var row = button.closest('tr');

        // 행에서 주문 번호 추출
        var orderId = row.querySelector('td:nth-child(1)').innerText.trim();

        // 해당 주문 번호에 대한 상세 정보의 표의 ID
        var detailTableId = '#collapseOne' + orderId;

        // 해당 표에서 원하는 데이터 추출
        var detailRows = document.querySelectorAll(detailTableId + ' table.receipt-table.text-right tbody tr');

        // 데이터를 담을 객체
        var dataToLog = [];

        // 각 행에 대해 반복
        detailRows.forEach(function(detailRow) {
            // 각 행에서 원하는 데이터 추출
            var purchaseItem = detailRow.querySelector('td:nth-child(1)').innerText.trim();
            var quantity = detailRow.querySelector('td:nth-child(2)').innerText.trim();
            var region = detailRow.querySelector('td:nth-child(3)').innerText.trim();

            // 추출한 데이터를 객체에 추가
            dataToLog.push({
                purchaseItem: purchaseItem,
                quantity: quantity,
                region: region,
            });
        });

        // 반환
        return dataToLog;
    }

    function sendProductionRequest(button) {
        // 데이터 파싱 함수 호출
        var dataToLog = parseDetailTableData(button);

        // JSON 형식의 문자열로 변환
        // var jsonData = JSON.stringify({orderData: dataToLog});

        // 콘솔에 데이터 출력
        console.log("생산버튼 데이터:", dataToLog);

        // Ajax를 사용하여 데이터를 서버로 전송
        $.ajax({
            type: "POST",
            url: "/SF/mqtt",
            contentType: "application/json", // JSON 형식으로 전송
            data: JSON.stringify({ orderData: dataToLog }),
            // data : jsonData,
            success: function(response) {
                console.log("데이터 전송 성공:", response);
            },
            error: function(error) {
                console.error("데이터 전송 실패:", error);
            }
        });
    }
</script>

</body>
</html>