<!--
=========================================================
* Material Dashboard 2 PRO - v3.0.6
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-dashboard-pro
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <title>
        Material Dashboard 2 PRO by Creative Tim
    </title>


    <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro" />

    <meta name="keywords" content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap 5 dashboard, bootstrap 5, css3 dashboard, bootstrap 5 admin, material dashboard bootstrap 5 dashboard, frontend, responsive bootstrap 5 dashboard, material design, material dashboard bootstrap 5 dashboard">
    <meta name="description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">

    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Material Dashboard PRO by Creative Tim">
    <meta name="twitter:description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_bs5_thumbnail.jpg">

    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="Material Dashboard PRO by Creative Tim" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demos.creative-tim.com/material-dashboard-pro/pages/dashboards/default.html" />
    <meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_bs5_thumbnail.jpg" />
    <meta property="og:description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you." />
    <meta property="og:site_name" content="Creative Tim" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/static/css/nucleo-svg.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <link id="pagestyle" href="/static/css/material-dashboard.min.css?v=3.0.6" rel="stylesheet" />

    <style>
        .async-hide {
            opacity: 0 !important
        }

        body {
            margin-left: 300px; /* 왼쪽 메뉴바와 겹치지 않고 출력 */
        }

        .sidenav {
            width: 300px; /* 왼쪽 메뉴바와 겹치지 않고 출력 */
        }

        h1 {
            margin-top: 20px;    /* h1 텍스트의 위 아래 조정 */
        }
    </style>
    <script>
        (function(a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y;
            h.start = 1 * new Date;
            h.end = i = function() {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };
            (a[n] = a[n] || []).hide = h;
            setTimeout(function() {
                i();
                h.end = null
            }, c);
            h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {
            'GTM-K9BGS8K': true
        });
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-46172202-22', 'auto', {
            allowLinker: true
        });
        ga('set', 'anonymizeIp', true);
        ga('require', 'GTM-K9BGS8K');
        ga('require', 'displayfeatures');
        ga('require', 'linker');
        ga('linker:autoLink', ["2checkout.com", "avangate.com"]);
    </script>


    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
    </script>

    <script defer data-site="demos.creative-tim.com" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>

    <!--############################################################### 시술을 시작합니다. #########################################################################-->

    <!--############################################################### 시술을 끝냅니다. #########################################################################-->
</head>


<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
        <a class="navbar-brand m-0">
            <img src="/static/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold text-white">Menu Bar</span>
        </a>

    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/main" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Main.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">메인</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/login" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Login.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">로그인</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/signup" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Signup.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">회원가입</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/order" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Order.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">주문</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/statistics" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Statistics.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">판매량 통계 및 분석</span>
                </a>
            </li>

            <li class="nav-item mb-2 mt-0">
                <a href="/sample/orderstatus" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/OrderStatus.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">주문 현황</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/inventory" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Inventory.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">재고 관리</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<body class="g-sidenav-show  bg-gray-200">
<!--############################################################### 시술을 시작합니다. #########################################################################-->
<!-- 3D Image -->
<head>
    <!-- General settings -
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
    <meta content="#35424b" name="theme-color" />
    -->
    <!-- Favicons
    <link rel="apple-touch-icon" sizes="57x57" href="https://aeroreport.de/assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://aeroreport.de/assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://aeroreport.de/assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://aeroreport.de/assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://aeroreport.de/assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://aeroreport.de/assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://aeroreport.de/assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://aeroreport.de/assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://aeroreport.de/assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://aeroreport.de/assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://aeroreport.de/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://aeroreport.de/assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://aeroreport.de/assets/images/favicons/favicon-16x16.png">
    -->

    <!-- Page settings
    <title>How does a turbofan engine work? – The structure</title>
    <link href="https://aeroreport.de/en/good-to-know/how-does-a-turbofan-engine-work-the-structure-of-an-engine" rel="canonical" />
    <link rel="alternate" hreflang="de" href="https://aeroreport.de/de/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks" />
    <link rel="alternate" hreflang="en" href="https://aeroreport.de/en/good-to-know/how-does-a-turbofan-engine-work-the-structure-of-an-engine" />
    <link rel="alternate" hreflang="x-default" href="https://aeroreport.de/en/good-to-know/how-does-a-turbofan-engine-work-the-structure-of-an-engine"/>
    -->

    <!-- SEO settings
    <meta name="google-site-verification" content="WwuUaS1bGqJS7ydz76Isgj5yY6V881X45YprlIlMs5g" />
    <meta content="Geared Turbofan, GTF, high-pressure compressor, Components, Low-pressure turbine, commercial engines" name="keywords" />
    <meta content="Compressors, turbines and more: What goes into an advanced turbofan engine?" name="description" />
    <meta content="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/3c7e2fa883-1628597226/triebwerk-render-2048px-800x450-crop.webp" name="image" />
    <meta content="MTU AEROREPORT - How does a turbofan engine work? &ndash; The structure of an engine" name="subject" />
    <meta content="website" name="type" />
    <meta content="Good to know" name="topic" />
    <meta content="Isabel Henrich" name="author" />
    <meta content="© 2023 MTU Aero Engines AG" name="copyright" />
    <meta content="en" name="language" />
    <meta content="08/08/2023 12:53" name="last-modified" />
    <meta content="true" name="handheldfriendly" />
    <meta content="notranslate" name="google" />
    <meta content="index,follow" name="robots" />
    -->

    <!-- OpenGraph settings
    <meta content="MTU AEROREPORT" property="og:site_name" />
    <meta content="How does a turbofan engine work? – The structure of an engine" property="og:title" />
    <meta content="Compressors, turbines and more: What goes into an advanced turbofan engine?" property="og:description" />
    <meta content="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/3c7e2fa883-1628597226/triebwerk-render-2048px-800x450-crop.webp" property="og:image" />
    <meta content="https://aeroreport.de/en/good-to-know/how-does-a-turbofan-engine-work-the-structure-of-an-engine" property="og:url" />
    <meta content="website" property="og:type" />
    -->
    <!-- Twitter settings
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="@MTUAeroEngines" name="twitter:site" />
    <meta content="How does a turbofan engine work? – The structure of an engine" name="twitter:title" />
    <meta content="Compressors, turbines and more: What goes into an advanced turbofan engine?" name="twitter:description" />
    <meta content="Good to know" name="twitter:image:alt" />
    -->
    <!-- Microsoft Tile
    <meta content="#FFFFFF" name="msapplication-TileColor" />
    <meta content="https://aeroreport.de/assets/images/aeroreport_tile.webp" name="msapplication-TileImage" />
    -->
    <!-- Additional files -->
    <!--[if lt IE 10]><script type="text/javascript" src="/assets/js/dev/html5.min.js"></script><![endif]-->
    <link href="https://aeroreport.de/assets/css/main.min.css?1700046625" rel="stylesheet">

</head>

<script>
    var chartData = [];
    var ChartBackgrounds = [];
    var timelineData = [];
    var currentLanguage = "en";
</script>
<div class="row">
<article
        class="article"
        id="wiefunktionierteinturbofantriebwerkaufbaueinestriebwerks"
        itemscope
        itemtype="http://schema.org/Article">

    <section class="article-image-hover bgcolorgrey">
        <div class="row">
            <div class="small-12 medium-12 large-12 columns">
                <div class="article-image-hover-container">
                    <video class="article-image-hover-video" autoplay muted loop playsinline data-piwik-title="" title="" src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/185b147e25-1627476449/triebwerk_animation.mp4" type="video/mp4"></video>
                    <div class="marker" data-overlay="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/788a64299b-1628080873/gtf_fan_rotor.svg" style="left:12%; top:0%; width:16%; height:100%;">
                        <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/788a64299b-1628080873/gtf_fan_rotor.svg" class="hidden" width="230" height="150">
                        <h5 class=" detailtext-headline hidden" style="left:16rem">Fan rotor</h5>
                        <div class=" detailtext hidden" style="left:16rem">The fan rotor is the first and very large rotor in the compressor. Its primary task is to accelerate a large mass flow of air in the bypass flow and thus provide the main thrust. The fan is driven by the low-pressure turbine via the low-pressure shaft. In the geared turbofan engine, the fan is optimized for maximum air flow.
                            <br><br>                                      <span class="detailimage-grey hidden" >
                      <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/5c7e5c93c7-1628079399/fan-rotor_1.png" width="800" height="450"></span>
                            <span class=" text-blue-dynamic hidden" style="left:"><b>Did you know?</b><br>
It’s always a special sight for the engineers when the fan blades of the Boeing 777 engine GE90 come to MTU Maintenance: these blades measure a full 1.25 meters and weigh 25 kilograms each.</span>
                        </div>
                    </div>
                    <div class="marker" data-overlay="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/946af1f5ce-1628080873/gtf_gearbox.svg" style="left:28%; top:0%; width:6%; height:100%;">
                        <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/946af1f5ce-1628080873/gtf_gearbox.svg" class="hidden" width="230" height="150">
                        <h5 class=" detailtext-headline hidden" style="left:8rem">Gearbox</h5>
                        <div class=" detailtext hidden" style="left:8rem">In conventional engines, the low-pressure turbine and the fan sit on one shaft, but here the gearbox decouples the two components. This lets the components run at their optimum speed: the large-diameter fan slower, and the smaller-proportioned low-pressure compressor and low pressure turbine considerably faster. The gearbox is a planetary gear train with a reduction ratio of 3:1 or higher.
                            <br><br>                                      <span class="detailimage-grey hidden" >
                      <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/86d659d2ce-1629377820/getriebe_1.png" width="800" height="450"></span>
                            <span class=" text-blue-dynamic hidden" style="left:"><b>Did you know?</b><br>
Pratt & Whitney, MTU and Fiat Avio began their first preliminary studies into a geared turbofan in the 1990s.</span>
                        </div>
                    </div>

                    <div class="marker" data-overlay="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/0ac350f9b5-1628080873/gtf_high-pressure_compressor.svg" style="left:46%; top:0%; width:15%; height:100%;">
                        <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/0ac350f9b5-1628080873/gtf_high-pressure_compressor.svg" class="hidden" width="230" height="150">
                        <h5 class=" detailtext-headline hidden" style="left:-24rem">High-pressure compressor</h5>
                        <div class=" detailtext hidden" style="left:-24rem">The highly efficient high-pressure compressor handles main compression. What sets an advanced turbofan engine apart is that the blades and disk are manufactured as a single part—known as a “blisk.” These high-tech components not only save space and weigh less than conventional rotors with individual blades, but they also provide for better blade aerodynamics. Furthermore, they reduce assembly work and thus costs.
                            <br><br>                                      <span class="detailimage-grey hidden" style='left: -15rem'>
                      <img src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/ae11b9c5a3-1628079435/hdv_1.png" width="800" height="450"></span>
                            <span class=" text-blue-dynamic hidden" style="left:"><b>Did you know?</b><br>
MTU built a specially designed shop for blisk production at its Munich site, where it manufactures up to 6,000 blisks a year.</span>
                        </div>
                    </div>

                    <img class="article-image-hover-image" src="/static/img/gtf_overview_en.svg" alt="gtf_overview_en">
                    <!--                         src="https://aeroreport.de/media/pages/good-to-know/wie-funktioniert-ein-turbofan-triebwerk-aufbau-eines-triebwerks/image-hover/af35bcf21d-1628081033/gtf_overview_en.svg" alt="gtf_overview_en">-->
                </div>
            </div>
        </div>
    </section>

</article>
</div>
<script src="https://aeroreport.de/assets/js/main.js?1700046625"></script>
<script src="https://aeroreport.de/ar-prototype/dist/bundle.js?1700046625"></script>

<!--############################################################### 시술을 끝냅니다. #########################################################################-->
<div class="row mt-7"> <!--#################################################### Row 하나 ################################################################-->
    <div class='col-sm-4'> <!--#################################################### Col 3등분 1 ################################################################-->
        <div class="pe-4">
            <div class="row mt-4">
            <div class="card bg-gradient-dark">
                <img src="/static/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute opacity-2 start-0 top-0 w-100">
                <img class="w-75 mt-n7 mt-lg-n8 d-none d-md-block mx-auto z-index-1" src="/static/img/r_part1.png" alt="car image">
                <div class="card-body px-5 z-index-1 bg-cover overflow-hidden pb-2">
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <h4 class="text-white opacity-9">Since Last Charge</h4>
                                    <hr class="horizontal light mt-1 mb-3">
                                    <div class="d-flex justify-content-center">
                                        <div>
                                            <h6 class="mb-0 text-white opacity-8 font-weight-normal">Distance</h6>
                                            <h3 class="text-white">145 <small class="text-sm">Km</small></h3>
                                        </div>
                                        <div class="ms-lg-6 ms-4">
                                            <h6 class="mb-0 text-white opacity-8 font-weight-normal">Average Energy</h6>
                                            <h3 class="text-white">300 <small class="text-sm">Kw</small></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <h4 class="text-white opacity-9">Nearest Charger</h4>
                                    <hr class="horizontal light mt-1 mb-3">
                                    <div class="d-flex justify-content-center">
                                        <div>
                                            <h6 class="mb-0 text-white">Miclan, DW</h6>
                                            <h6 class="mb-0 text-white">891 Limarenda road</h6>
                                        </div>
                                        <div class="ms-lg-6 ms-4">
                                            <button class="btn btn-icon-only btn-rounded btn-outline-white mb-0 p-1">
                                                <i class="material-icons text-lg" aria-hidden="true">map</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class='col-sm-4'> <!--#################################################### Col 3등분 2 ################################################################-->
        <div class="pe-4">
            <div class="row mt-4">
                <div class="card bg-gradient-dark">
                    <img src="/static/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute opacity-2 start-0 top-0 w-100">
                    <!--<img class="w-75 mt-n7 mt-lg-n8 d-none d-md-block mx-auto z-index-1" src="static/css/assets/img/tesla-model-s.png" alt="car image">-->
                    <img class="w-75 mt-n7 mt-lg-n8 d-none d-md-block mx-auto z-index-1" src="/static/img/r_part2.png" alt="car image">
                    <div class="card-body px-5 z-index-1 bg-cover overflow-hidden pb-2">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <h4 class="text-white opacity-9">Since Last Charge</h4>
                                        <hr class="horizontal light mt-1 mb-3">
                                        <div class="d-flex justify-content-center">
                                            <div>
                                                <h6 class="mb-0 text-white opacity-8 font-weight-normal">Distance</h6>
                                                <h3 class="text-white">145 <small class="text-sm">Km</small></h3>
                                            </div>
                                            <div class="ms-lg-6 ms-4">
                                                <h6 class="mb-0 text-white opacity-8 font-weight-normal">Average Energy</h6>
                                                <h3 class="text-white">300 <small class="text-sm">Kw</small></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <h4 class="text-white opacity-9">Nearest Charger</h4>
                                        <hr class="horizontal light mt-1 mb-3">
                                        <div class="d-flex justify-content-center">
                                            <div>
                                                <h6 class="mb-0 text-white">Miclan, DW</h6>
                                                <h6 class="mb-0 text-white">891 Limarenda road</h6>
                                            </div>
                                            <div class="ms-lg-6 ms-4">
                                                <button class="btn btn-icon-only btn-rounded btn-outline-white mb-0 p-1">
                                                    <i class="material-icons text-lg" aria-hidden="true">map</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-sm-4'> <!--#################################################### Col 3등분 3 ################################################################-->
        <div class="pe-4">
            <div class="row mt-4">
                <div class="card bg-gradient-dark">
                    <img src="/static/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute opacity-2 start-0 top-0 w-100">
                    <!--<img class="w-75 mt-n7 mt-lg-n8 d-none d-md-block mx-auto z-index-1" src="static/css/assets/img/tesla-model-s.png" alt="car image">-->
                    <img class="w-75 mt-n7 mt-lg-n8 d-none d-md-block mx-auto z-index-1" src="/static/img/r_part3.png" alt="car image">
                    <div class="card-body px-5 z-index-1 bg-cover overflow-hidden pb-2">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <h4 class="text-white opacity-9">Since Last Charge</h4>
                                        <hr class="horizontal light mt-1 mb-3">
                                        <div class="d-flex justify-content-center">
                                            <div>
                                                <h6 class="mb-0 text-white opacity-8 font-weight-normal">Distance</h6>
                                                <h3 class="text-white">145 <small class="text-sm">Km</small></h3>
                                            </div>
                                            <div class="ms-lg-6 ms-4">
                                                <h6 class="mb-0 text-white opacity-8 font-weight-normal">Average Energy</h6>
                                                <h3 class="text-white">300 <small class="text-sm">Kw</small></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <h4 class="text-white opacity-9">Nearest Charger</h4>
                                        <hr class="horizontal light mt-1 mb-3">
                                        <div class="d-flex justify-content-center">
                                            <div>
                                                <h6 class="mb-0 text-white">Miclan, DW</h6>
                                                <h6 class="mb-0 text-white">891 Limarenda road</h6>
                                            </div>
                                            <div class="ms-lg-6 ms-4">
                                                <button class="btn btn-icon-only btn-rounded btn-outline-white mb-0 p-1">
                                                    <i class="material-icons text-lg" aria-hidden="true">map</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"> <!-- ####################################################### 두 번째 Row ################################################################ -->
    <div class="card mt-4" id="delete">
        <div class="card-body">
            <div class="d-flex align-items-center mb-sm-0 mb-4">
                <div class="w-50">
                    <h5>Delete Account</h5>
                    <p class="text-sm mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                </div>
                <div class="w-50 text-end">
                    <button class="btn btn-outline-secondary mb-3 mb-md-0 ms-auto" type="button" name="button">Deactivate</button>
                    <button class="btn bg-gradient-danger mb-0 ms-2" type="button" name="button">Delete Account</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>