<!--
=========================================================
* Material Dashboard 2 PRO - v3.0.6
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-dashboard-pro
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/static/img/Company.png">
    <title>
        Smartfactory_Team-2-Kang-in
    </title>


    <link rel="canonical" href="https://www.creative-tim.com/product/material-dashboard-pro" />

    <meta name="keywords" content="creative tim, html dashboard, html css dashboard, web dashboard, bootstrap 5 dashboard, bootstrap 5, css3 dashboard, bootstrap 5 admin, material dashboard bootstrap 5 dashboard, frontend, responsive bootstrap 5 dashboard, material design, material dashboard bootstrap 5 dashboard">
    <meta name="description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">

    <meta name="twitter:card" content="product">
    <meta name="twitter:site" content="@creativetim">
    <meta name="twitter:title" content="Material Dashboard PRO by Creative Tim">
    <meta name="twitter:description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you.">
    <meta name="twitter:creator" content="@creativetim">
    <meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_bs5_thumbnail.jpg">

    <meta property="fb:app_id" content="655968634437471">
    <meta property="og:title" content="Material Dashboard PRO by Creative Tim" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://demos.creative-tim.com/material-dashboard-pro/pages/dashboards/default.html" />
    <meta property="og:image" content="https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_bs5_thumbnail.jpg" />
    <meta property="og:description" content="Material Dashboard PRO is a beautiful Bootstrap 5 admin dashboard with a large number of components, designed to look beautiful, clean and organized. If you are looking for a tool to manage dates about your business, this dashboard is the thing for you." />
    <meta property="og:site_name" content="Creative Tim" />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

    <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/static/css/nucleo-svg.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="..." crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <link id="pagestyle" href="/static/css/material-dashboard.min.css?v=3.0.6" rel="stylesheet" />

    <style>
        .async-hide {
            opacity: 0 !important
        }

        body {
            margin-left: 300px; /* 왼쪽 메뉴바와 겹치지 않고 출력 */
        }

        .sidenav {
            width: 300px; /* 왼쪽 메뉴바와 겹치지 않고 출력 */
        }

        h1 {
            margin-top: 20px;    /* h1 텍스트의 위 아래 조정 */
        }
    </style>
    <script>
        (function(a, s, y, n, c, h, i, d, e) {
            s.className += ' ' + y;
            h.start = 1 * new Date;
            h.end = i = function() {
                s.className = s.className.replace(RegExp(' ?' + y), '')
            };
            (a[n] = a[n] || []).hide = h;
            setTimeout(function() {
                i();
                h.end = null
            }, c);
            h.timeout = c;
        })(window, document.documentElement, 'async-hide', 'dataLayer', 4000, {
            'GTM-K9BGS8K': true
        });
    </script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-46172202-22', 'auto', {
            allowLinker: true
        });
        ga('set', 'anonymizeIp', true);
        ga('require', 'GTM-K9BGS8K');
        ga('require', 'displayfeatures');
        ga('require', 'linker');
        ga('linker:autoLink', ["2checkout.com", "avangate.com"]);
    </script>


    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
    </script>

    <script defer data-site="demos.creative-tim.com" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>


</head>


<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
        <a class="navbar-brand m-0">
            <img src="/static/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
            <span class="ms-1 font-weight-bold text-white">Menu Bar</span>
        </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto h-auto" id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/main" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Main.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">메인</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:if="${session.user ne null}">
                <a href="#" th:href="@{/user/logout}" class="nav-link text-white" aria-controls="LogoutNav" role="button" aria-expanded="false">
                    <img src="/static/img/Login.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">로그아웃</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:unless="${session.user ne null}">
                <a href="/sample/login" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Login.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">로그인</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0" th:unless="${session.user ne null}">
                <a href="/sample/signup" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Signup.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">회원가입</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/detail" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Detail.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">상품 소개</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/order" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Order.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">주문</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/statistics" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Statistics.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">판매량 통계 및 분석</span>
                </a>
            </li>

            <li class="nav-item mb-2 mt-0">
                <a href="/sample/orderstatus" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/OrderStatus.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">주문 현황</span>
                </a>
            </li>
            <li class="nav-item mb-2 mt-0">
                <a href="/sample/inventory" class="nav-link text-white" aria-controls="LoginNav" role="button" aria-expanded="false">
                    <img src="/static/img/Inventory.png" class="navbar-brand-img h-100">
                    <span class="nav-link-text ms-2 ps-1">재고 관리</span>
                </a>
            </li>
        </ul>
    </div>
</aside>


<!-- 새로 추가한 부분-->
<div class="container-fluid py-4">
    <div class="row ">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">paid</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">금일 매출액</p>
                        <h4 class="mb-0">$53k</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than lask week</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">금일 이용자 현황</p>
                        <h4 class="mb-0">2,300</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+3% </span>than lask month</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">새 고객</p>
                        <h4 class="mb-0">3,462</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">-2%</span> than yesterday</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div class="icon icon-lg icon-shape bg-gradient-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">paid</i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">총 매출액</p>
                        <h4 class="mb-0">$103,430</h4>
                    </div>
                </div>
                <hr class="dark horizontal my-0">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+5% </span>than yesterday</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 붙여넣기 -->

<body class="g-sidenav-show  bg-gray-200">

<!-- End Navbar -->
<div class="container-fluid py-4">
    <div class="row" >  <!-- 페이지 상단으로 부터의 거리 mt-? -->
        <!-- 일별 매출액 차트-->
        <div class="col-lg-12 mt-lg-0 mt-8 mb-5">
            <div class="card z-index-2 h-100">
                <!--                <div class="card overflow-hidden h-100">-->
                <div class="card-header p-3 pb-0">
                    <div class="d-flex align-items-center">
                        <!--                        <div>-->
                        <!--                            <img src="/static/img/Salesmoney.png" class="icon icon-lg icon-shape bg-gradient-white text-center mt-n6 me-3 float-start" alt="logo_xd">-->
                        <!--                            &lt;!&ndash;로고이미지&ndash;&gt;-->
                        <!--                        </div>-->
                        <!--                        <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">-->
                        <!--                            <i class="ni ni-calendar-grid-58 text-lg opacity-10" aria-hidden="true"></i>-->
                        <!--                        </div>-->
                        <div class="ms-1">
                            <h5 class="font-weight-bolder mb-5">주간 매출액</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body mt-4 p-0">
                    <div class="chart">
                        <canvas id="chart-line-widgets" class="chart-canvas" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- doughnut-->
    <div class="row" >  <!-- 페이지 상단으로 부터의 거리 mt-? -->
          <div class="col-lg-7 col-8">  <!-- 차트 전체 크기-->
            <div class="card z-index-4 mt-0">
                <div class="card-header p-2 pt-2"> <!-- 상단부 크기-->
<!--                    <div>-->
<!--                        <img src="/static/img/Salesstatus.png" class="icon icon-lg icon-shape bg-gradient-white text-center mt-n4 me-3 float-start" alt="logo_xd">-->
<!--                        &lt;!&ndash;아이콘 이미지&ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="icon icon-lg icon-shape bg-gradient-warning shadow-warning text-center border-radius-xl mt-n4 me-3 float-start">-->
<!--                        &lt;!&ndash;아이콘 크기&ndash;&gt;-->
<!--                        <i class="material-icons opacity-10">donut_small</i>-->
<!--                    </div>-->
                    <h5 class="font-weight-bolder mb-0">제품 판매 현황</h5>
                </div>
                <div class="card-body d-flex p-4 pt-4">
                    <div class="chart w-60">
                        <canvas id="doughnut-chart" class="chart-canvas" height="405"></canvas>
                    </div>
                    <div class="table-responsive w-80 mt-7">
                        <table class="table align-items-center mb-0">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
<!--                                        <div>-->
<!--                                            <img src="/static/img/small-logos/devto.svg" class="avatar avatar-sm me-2" alt="logo_xd">-->
<!--                                            &lt;!&ndash;로고이미지&ndash;&gt;-->
<!--                                        </div>-->
                                        <div>
                                            <img src="/static/img/Red.png" class="avatar avatar-sm me-2" alt="logo_xd">
                                            <!--색상표현-->
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-2xl">High-Pressure Compressor</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-lg font-weight-bold"> 25% </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
<!--                                        <div>-->
<!--                                            <img src="/static/img/small-logos/creative-tim.svg" class="avatar avatar-sm me-2" alt="logo_atlassian">-->
<!--                                        </div>-->
                                        <div>
                                            <img src="/static/img/Blue.png" class="avatar avatar-sm me-2" alt="logo_xd">
                                            <!--색상표현-->
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-2xl">Gear Box</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-lg font-weight-bold"> 13% </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
<!--                                        <div>-->
<!--                                            <img src="/static/img/small-logos/bootstrap.svg" class="avatar avatar-sm me-2" alt="logo_slack">-->
<!--                                        </div>-->
                                        <div>
                                            <img src="/static/img/Green.png" class="avatar avatar-sm me-2" alt="logo_xd">
                                            <!--색상표현-->
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-2xl">Fan Rotor</h6>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="text-lg font-weight-bold"> 12% </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--지역별 제품 판매 현황 차트-->
        <div class="col-lg-5 col-8">
            <div class="card z-index-2 mt-0">
                <div class="card-header p-2 pt-2">
<!--                    <div>-->
<!--                        <img src="/static/img/Salesbyregion.png" class="icon icon-lg icon-shape bg-gradient-white text-center mt-n4 me-3 float-start" alt="logo_xd">-->
<!--                        &lt;!&ndash;로고이미지&ndash;&gt;-->
<!--                    </div>-->
<!--                    <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 me-3 float-start">-->
<!--                        <i class="material-icons opacity-10">leaderboard</i>-->
<!--                    </div>-->
                    <h5 class="font-weight-bolder mb-0">지역별 제품 판매 현황</h5>
                </div>
                <div class="card-body p-4 pt-2">
                    <div class="chart">
                        <canvas id="bar-chart" class="chart-canvas" height="420"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h5> VIP 고객</h5>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-lg font-weight-bolder opacity-7">고객명</th>
                            <th class="text-uppercase text-secondary text-lg font-weight-bolder opacity-7 ps-2">지불한 금액</th>
                            <th class="text-center text-uppercase text-secondary text-lg font-weight-bolder opacity-7">최근 주문 일</th>
                            <th class="text-center text-uppercase text-secondary text-lg font-weight-bolder opacity-7">주문 건수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--span class : text-success : 초록색 /////////  text-danger : 빨간색-->
                        <tr>
                            <td>
                                <div class="d-flex px-3 py-1">
                                    <div>
                                        <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/blue-shoe.jpg" class="avatar me-3" alt="image">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-lg">김OO1</h6>
                                        <p class="text-sm font-weight-normal text-secondary mb-0"><span>email2@gmail.com</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-lg font-weight-normal mb-0">$130.992</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <p class="text-lg font-weight-normal mb-0">23/12/04</p>
                            </td>
                            <td class="align-middle text-end">
                                <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                                    <p class="text-lg font-weight-normal mb-0">13</p>
                                    <i class="ni ni-bold-down text-sm ms-1 text-success"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex px-3 py-1">
                                    <div>
                                        <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/black-mug.jpg" class="avatar me-3" alt="image">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-lg">김OO2</h6>
                                        <p class="text-sm font-weight-normal text-secondary mb-0"><span>email2@gmail.com</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-lg font-weight-normal mb-0">$80.250</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <p class="text-lg font-weight-normal mb-0">23/12/07</p>
                            </td>
                            <td class="align-middle text-end">
                                <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                                    <p class="text-lg font-weight-normal mb-0">40</p>
                                    <i class="ni ni-bold-down text-sm ms-1 text-success"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex px-3 py-1">
                                    <div>
                                        <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/black-chair.jpg" class="avatar me-3" alt="image">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-lg">김OO3</h6>
                                        <p class="text-sm font-weight-normal text-secondary mb-0"><span>email3@gmail.com</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-lg font-weight-normal mb-0">$40.600</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <p class="text-lg font-weight-normal mb-0">23/12/07</p>
                            </td>
                            <td class="align-middle text-end">
                                <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                                    <p class="text-lg font-weight-normal mb-0">54</p>
                                    <i class="ni ni-bold-up text-sm ms-1 text-danger"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex px-3 py-1">
                                    <div>
                                        <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/bang-sound.jpg" class="avatar me-3" alt="image">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-lg">김OO4</h6>
                                        <p class="text-sm font-weight-normal text-secondary mb-0"><span>email4@gmail.com</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-lg font-weight-normal mb-0">$91.300</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <p class="text-lg font-weight-normal mb-0">23/12/09</p>
                            </td>
                            <td class="align-middle text-end">
                                <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                                    <p class="text-lg font-weight-normal mb-0">5</p>
                                    <i class="ni ni-bold-down text-sm ms-1 text-success"></i>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex px-3 py-1">
                                    <div>
                                        <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/photo-tools.jpg" class="avatar me-3" alt="image">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-lg">김OO5</h6>
                                        <p class="text-sm font-weight-normal text-secondary mb-0"><span>email5@gmail.com</span></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-lg font-weight-normal mb-0">$140.925</p>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <p class="text-lg font-weight-normal mb-0">23/12/10</p>
                            </td>
                            <td class="align-middle text-end">
                                <div class="d-flex px-3 py-1 justify-content-center align-items-center">
                                    <p class="text-lg font-weight-normal mb-0">121</p>
                                    <i class="ni ni-bold-up text-sm ms-1 text-success"></i>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 플러그인 -->
<div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="material-icons py-2">settings</i>
    </a>
    <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3">
            <div class="float-start">
                <h5 class="mt-3 mb-0">Material UI Configurator</h5>
                <p>See our dashboard options.</p>
            </div>
            <div class="float-end mt-4">
                <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1">
        <div class="card-body pt-sm-3 pt-0">
            <!-- Sidebar Backgrounds -->
            <div>
                <h6 class="mb-0">Sidebar Colors</h6>
            </div>
            <a href="javascript:void(0)" class="switch-trigger background-color">
                <div class="badge-colors my-2 text-start">
                    <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
                    <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
                    <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
                    <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
                    <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
                    <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
                </div>
            </a>
            <!-- Sidenav Type -->
            <div class="mt-3">
                <h6 class="mb-0">Sidenav Type</h6>
                <p class="text-sm">Choose between 2 different sidenav types.</p>
            </div>
            <div class="d-flex">
                <button class="btn bg-gradient-dark px-3 mb-2 active" data-class="bg-gradient-dark" onclick="sidebarType(this)">Dark</button>
                <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-transparent" onclick="sidebarType(this)">Transparent</button>
                <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
            </div>
            <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
            <!-- Navbar Fixed -->
            <div class="mt-3 d-flex">
                <h6 class="mb-0">Navbar Fixed</h6>
                <div class="form-check form-switch ps-0 ms-auto my-auto">
                    <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
                </div>
            </div>
            <hr class="horizontal dark my-3">
            <div class="mt-2 d-flex">
                <h6 class="mb-0">Sidenav Mini</h6>
                <div class="form-check form-switch ps-0 ms-auto my-auto">
                    <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarMinimize" onclick="navbarMinimize(this)">
                </div>
            </div>
            <hr class="horizontal dark my-3">
            <div class="mt-2 d-flex">
                <h6 class="mb-0">Light / Dark</h6>
                <div class="form-check form-switch ps-0 ms-auto my-auto">
                    <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
                </div>
            </div>
        </div>
    </div>
</div>
<!--   Core JS Files   -->
<script src="/static/js/core/popper.min.js"></script>
<script src="/static/js/core/bootstrap.min.js"></script>
<script src="/static/js/plugins/perfect-scrollbar.min.js"></script>
<script src="/static/js/plugins/smooth-scrollbar.min.js"></script>
<script src="/static/js/plugins/fullcalendar.min.js"></script>
<!-- Kanban scripts -->
<script src="/static/js/plugins/dragula/dragula.min.js"></script>
<script src="/static/js/plugins/jkanban/jkanban.js"></script>
<script src="/static/js/plugins/chartjs.min.js"></script>
<script>
    // Doughnut chart
    var ctx3 = document.getElementById("doughnut-chart").getContext("2d");

    new Chart(ctx3, {
        type: "doughnut",
        data: {
            labels: ['Jet Engine1', 'Jet Engine2', 'Jet Engine3'],
            datasets: [{
                label: "Projects",
                weight: 9,
                cutout: 100,
                tension: 0.9,
                pointRadius: 2,
                borderWidth: 2,
                backgroundColor: ['#FF0000', '#0000FF', '#00FF00'],  <!--차트 색상 변경 가능-->
                data: [15, 20, 12], <!--차트에 값 설정 하는 부분-->
                fill: false,
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                    },
                    ticks: {
                        display: false
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: false,
                        drawTicks: false,
                    },
                    ticks: {
                        display: false,
                    }
                },
            },
        },
    });

    // Bar chart
    // 지역별 제품 판매 현황
    var ctx5 = document.getElementById("bar-chart").getContext("2d");

    new Chart(ctx5, {
        type: "bar",
        data: {
            labels: ['지역1', '지역2', '지역3'],
            datasets: [{
                label: "Sales by age",
                weight: 5,
                borderWidth: 0,
                borderRadius: 4,
                backgroundColor: '#3A416F',
                data: [15, 30, 12],
                fill: false,
                maxBarThickness: 70  // Bar 굵기
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: '#c1c4ce5c'
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#9ca2b7',
                        font: {
                            size: 14,
                            weight: 300,    // 글씨 굵기
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: true,
                        drawTicks: true,
                        color: '#c1c4ce5c'
                    },
                    ticks: {
                        display: true,
                        color: '#9ca2b7',
                        padding: 10,
                        font: {
                            size: 14,
                            weight: 300,  // 글씨 굵기
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });
    var ctx3 = document.getElementById("chart-line-widgets").getContext("2d");

    var gradientStroke3 = ctx3.createLinearGradient(0, 230, 0, 50);

    gradientStroke3.addColorStop(1, 'rgba(33,82,255,0.1)');
    gradientStroke3.addColorStop(0.2, 'rgba(33,82,255,0.0)');
    gradientStroke3.addColorStop(0, 'rgba(33,82,255,0)'); //purple colors

    new Chart(ctx3, {
        type: "line",
        data: {
            labels: ["일", "월", "화", "수", "목", "금", "토"],
            datasets: [{
                label: "일별 매출액",
                tension: 0,
                pointRadius: 5,
                pointBackgroundColor: "#E91E63",
                pointBorderColor: "transparent",
                borderColor: "#E91E63",
                borderWidth: 4,
                backgroundColor: "transparent",
                data: [10000, 50000, 30000, 70000, 90000, 20000, 40000],
                maxBarThickness: 6,
                fill: true
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false,
                }
            },
            interaction: {
                intersect: false,
                mode: 'index',
            },
            scales: {
                y: {
                    grid: {
                        drawBorder: false,
                        display: false,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5]
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#9ca2b7',
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
                x: {
                    grid: {
                        drawBorder: false,
                        display: true,
                        drawOnChartArea: true,
                        drawTicks: false,
                        borderDash: [5, 5],
                        color: '#c1c4ce5c'
                    },
                    ticks: {
                        display: true,
                        padding: 10,
                        color: '#9ca2b7',
                        font: {
                            size: 14,
                            weight: 300,
                            family: "Roboto",
                            style: 'normal',
                            lineHeight: 2
                        },
                    }
                },
            },
        },
    });

</script>
<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
</script>

<!-- Github buttons -->
<!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/static/js/material-dashboard.min.js?v=3.0.6"></script>
</body>
</html>


