<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default}"
	  th:with="metaTitle='Sample'">
<head>
</head>

<body>
<!-- content -->
<th:block layout:fragment="content">
	<div class="conts">
		<div class="errocont">
			<p class="ico"></p>
			<p class="p1">죄송합니다.<br />요청하신 페이지에 대한 권한이 없습니다. </p>
			<p class="p2">자세한 내용은 운영자에게 문의 하시기 바랍니다.</p>
			<div>
				<a href="#" class="btn_default btn_submit">확인</a>
			</div>
		</div>
	</div>
</th:block>
<!-- //content -->

<!-- script -->
<th:block layout:fragment="custom_js">
	<script th:inline="javascript" >
		$(document).ready(function() {
			function init() {
				event();
			}

			function event() {
			}

			init();
		});
	</script>
</th:block>
<!-- //script -->
</body>
</html>

