<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/default}"
	  th:with="metaTitle='Sample'">
<head>
</head>

<body>
<!-- content -->
<th:block layout:fragment="content">
	<div class="conts">
		<!-- pagetle -->
		<div class="pagetle">비밀번호 변경</div>
		<!--// pagetle -->
		<div>
			<div class="tblutils">
				<p><span class="require">*</span> 필수항목</p>
			</div>
			<!-- table edit -->
			<table class="tbview">
				<colgroup>
					<col style="width:15%;" />
					<col>
				</colgroup>
				<tr>
					<th class="require">비밀번호</th> <!-- 필수항목 .require -->
					<td>
						<input type="password" value="" maxlength="" style="min-width:200px;">
						<span class="smt">* 영어/숫자/특수문자 필수 조합 8글자 이상 입력 가능합니다.</span>
					</td>
				</tr>
				<tr>
					<th class="require">비밀번호 확인</th>
					<td>
						<input type="password" value="" maxlength="" style="min-width:200px;">
					</td>
				</tr>
			</table>
			<!-- // table edit -->

			<!-- btn area -->
			<div class="btn_area right">
				<a href="#" class="btns_default btn_cancel">취소</a>
				<a href="#" class="btns_default btn_submit">저장</a>
			</div>
			<!-- // btn area -->

		</div>
	</div>
</th:block>
<!-- //content -->

<!-- script -->
<th:block layout:fragment="custom_js">
	<script th:inline="javascript" >
		$(document).ready(function() {
			function init() {
				event();
			}

			function event() {
			}

			init();
		});
	</script>
</th:block>
<!-- //script -->
</body>
</html>

